*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-Montserrat: "montserrat", sans-serif;
    /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
    --font-Mortise: "Mortise", sans-serif;
    /* Recordar Mortise Weigth de 200 para secundarios  */
    --Palatine-Blue: #5129E0;
    --Federal-Blue: #250E62;
    --White-Smoke: #F2F2F2;
    --Night-: #0D0E0F
}

img {
    width: 250px;
}

.btnSaveAndCopy {
    margin-top: 20px;
    font-family: var(--font-Montserrat);
    font-weight: 700;
    background-color: var(--White-Smoke);
    border: 3px solid var(--Night-);
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.infoContainer {
    padding: 30px;
}
.inputsAge {
    width: 50% !important;
}